	|===
		|Parameter|Description|Required

	{{#parameters}}
		|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
		|{{#tableCellContent}}{{description}}{{/tableCellContent}}
		|{{#optional}}false{{/optional}}{{^optional}}true{{/optional}}
	{{/parameters}}
		|===