|===
|Path|Type|Description|Required

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
	|{{#optional}}false{{/optional}}{{^optional}}true{{/optional}}
{{/fields}}
|===